<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @team.year_id %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @team.lg_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @team.team_id %>
</p>

<p>
  <strong>Franch:</strong>
  <%= @team.franch_id %>
</p>

<p>
  <strong>Div:</strong>
  <%= @team.div_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @team.rank %>
</p>

<p>
  <strong>Ghome:</strong>
  <%= @team.ghome %>
</p>

<p>
  <strong>Div win:</strong>
  <%= @team.div_win %>
</p>

<p>
  <strong>Wc win:</strong>
  <%= @team.wc_win %>
</p>

<p>
  <strong>Lg win:</strong>
  <%= @team.lg_win %>
</p>

<p>
  <strong>Ws wing:</strong>
  <%= @team.ws_wing %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Park:</strong>
  <%= @team.park %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @team.attendance %>
</p>

<p>
  <strong>Bpf:</strong>
  <%= @team.bpf %>
</p>

<p>
  <strong>Ppf:</strong>
  <%= @team.ppf %>
</p>

<p>
  <strong>Team idrb:</strong>
  <%= @team.team_idrb %>
</p>

<p>
  <strong>Team i dlahman45:</strong>
  <%= @team.team_i_dlahman45 %>
</p>

<p>
  <strong>Team i dretro:</strong>
  <%= @team.team_i_dretro %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
