<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @batting.player_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @batting.year_id %>
</p>

<p>
  <strong>Stint:</strong>
  <%= @batting.stint %>
</p>

<p>
  <strong>Team:</strong>
  <%= @batting.team_id %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @batting.lg_id %>
</p>

<p>
  <strong>G:</strong>
  <%= @batting.g %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @batting.ab %>
</p>

<p>
  <strong>R:</strong>
  <%= @batting.r %>
</p>

<p>
  <strong>H:</strong>
  <%= @batting.h %>
</p>

<p>
  <strong>2b:</strong>
  <%= @batting.2b %>
</p>

<p>
  <strong>3b:</strong>
  <%= @batting.3b %>
</p>

<p>
  <strong>Hr:</strong>
  <%= @batting.hr %>
</p>

<p>
  <strong>Rbi:</strong>
  <%= @batting.rbi %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @batting.sb %>
</p>

<p>
  <strong>Cs:</strong>
  <%= @batting.cs %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @batting.bb %>
</p>

<p>
  <strong>So:</strong>
  <%= @batting.so %>
</p>

<p>
  <strong>Ibb:</strong>
  <%= @batting.ibb %>
</p>

<p>
  <strong>Hbp:</strong>
  <%= @batting.hbp %>
</p>

<p>
  <strong>Sh:</strong>
  <%= @batting.sh %>
</p>

<p>
  <strong>Sf:</strong>
  <%= @batting.sf %>
</p>

<p>
  <strong>Gidp:</strong>
  <%= @batting.gidp %>
</p>

<%= link_to 'Edit', edit_batting_path(@batting) %> |
<%= link_to 'Back', battings_path %>
